#bgi {
    background-image: url("img/612888-gamer-wallpaper-top-free-gamer-background.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
}

h1,h2{

    text-align: center;
    color: white;
}

#tp{
    ;
   
}